<div class="container">

    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="login-title-place">Sinu</h1>

      </div>
    </div>
  <div class="row">
  <div class="col-md-4 col-md-offset-4" >


    <div class="login-margin">

          <div ng-if="homeCtrl.badCredentials">
            <h5 class="color-message-error error-message-place">Wrong
              Username or Password</h5>
          </div>
        <div class="form-login form-horizontal" >
            <form name="homeCtrl.form" ng-submit="homeCtrl.form.$valid && homeCtrl.login()" novalidate>
                <h4>Welcome back</h4>
                <input type="text" class="form-control input-sm chat-input" name="username" id="username"
                       ng-model='homeCtrl.credentials.username' placeholder="Enter your Username" required/>
                <div class="error color-message-error" ng-if="homeCtrl.form.$submitted && homeCtrl.form.username.$invalid">
                    <span>Insert Username</span>
                </div>
                </br>
                <input type="password" class="form-control input-sm chat-input" name="password" id="password"
                       ng-model='homeCtrl.credentials.password' placeholder="Enter your Password" required/>
                <div class="error color-message-error" ng-if="homeCtrl.form.$submitted && homeCtrl.form.password.$invalid">
                    <span>Insert Password</span>
                </div>
                </br>
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                </div>
            </form>
        </div>

        </div>

  </div>
  </div>
</div>
